- if @quote_presenter.has_quote?
  %div.image
    %img{src: image_path(@image_presenter.random)}
    .quote
      %span
        = @quote_presenter.text
        %span.spacer
        %br
        %span.spacer
        = @quote_presenter.author

- else
  %div.image
    %img{src: image_path("sad.jpg")}
    .quote
      %span
        Sorry, there are currently no quotes available
