= link_to "Add quote", new_backend_quote_path, class: ['btn', 'btn-info']

- if @quotes_presenter.has_quotes?
  %table.quotes.table.table-striped
    %thead
      %th Quote
      %th Author

    %tbody
      - @quotes_presenter.each do |p|
        %tr
          %td= truncate p.text, :length => 25, :separator => ' '
          %td= p.author

- else
  There are no quotes available
