!!!
%html<>
  %head
    %title Inspirational Quotes
    = stylesheet_link_tag    'frontend', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .wrapper
      .main
        %h1.title Inspirational Quotes
        %h3.subtitle Inspiration for your day

    .page
      .container
        = yield
