!!!
%html<>
  %head
    %title Inspirational Quotes
    = stylesheet_link_tag    'frontend', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .wrapper
      .main
        %h1.title Inpirational Quotes
        %h3.subtitle Some nice subtitle that I can't come up with right now

    .page
      .container
        = yield
